# Dependencies
node_modules/

# Build files
dist/
build/

# Environment files
.env
.env.local

# Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db